.not-found-text {
    text-align: center;
    margin-top: 300px;
}
.not-found-text h1 {
    font-size: 60px;
    color: #390281;
    font-weight: 900;
}
.not-found-text p {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}